{% extends 'base.html.twig' %}

{% block body %}
    <div class="service">
        <div class="container">
            <div class="section-header text-center">
                <div id="google_translate_element"></div>
                <h4 style="margin-top:50px; margin-bottom:50px;">Liste des reservations</h4>
                <a href="{{ path('app_service_indexFront') }}">Aller à la liste des services</a>
                <a href="{{ path('app_reservation_new') }}">Ajouter Reservation</a>
                <a href="{{ path('app_reclamation_new') }}">Ajouter Reclamation</a>


            </div>
            <div class="row">
        {% for reservation in reservations %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="service-item">
                        <p><strong style="color:#696969">Date Debut </strong> {{ reservation.getDateDebut() ? reservation.getDateDebut()|date('Y-m-d') : '' }}</p>
                        <p><strong style="color:#696969">Date Fin </strong> {{ reservation.getDateDebut() ? reservation.getDateDebut()|date('Y-m-d') : '' }}</p>
                        <p><strong style="color:#696969">Categorie </strong> {{ reservation.categorie() }}</p>
                        <p><strong style="color:#696969">Service </strong> {{  reservation.getServiceDesiree().getNom() }}</p>

                        </div>
                    </div>
                {% else %}
                    <div class="col">
                        <p class="text-center">Aucune Reservation trouvé.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
{% endblock %}
